<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link rel="stylesheet" href="view/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body onload="welcomeMessage(); fillCategories(); fillAccounts(); incomeExpenseDonut(); cashFlowBars(); getLastFiveRecords();
    incomeVsExpenseLineChart(); showAccounts(); redrawChart();">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a href="index.html" class="navbar-brand">Finance Tracker</a>
            <button class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="service.html" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 id="hello_section">Success</h1>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addAccount">Add Account</button>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addRecord">Add Record</button>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCategory">Add Category</button>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addBudget">Add Budget</button>

    <div id="master_container">
        <div class="box" id="box_content">
            <div class="box-header with-border">
                <h3 class="box-title">Last 5 transactions</h3>
                <div class="box-tools pull-right">
                    <!-- Collapse Button -->
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <!--<div class="box-body">-->
                <!--The body of the box1-->
            <!--</div>-->
            <!--<div class="box-body">-->
                <!--The body of the box2-->
            <!--</div>-->
            <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
            <!--<div class="box-footer">-->
                <!--The footer of the box-->
            <!--</div>-->
            <!-- box-footer -->
        </div>
        <div class="box" id="acc_content">
            <div class="box-header with-border">
                <h3 class="box-title">Your Accounts</h3>
                <div class="box-tools pull-right">
                    <!-- Collapse Button -->
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <!--<div class="box-body">-->
            <!--The body of the box1-->
            <!--</div>-->
            <!--<div class="box-body">-->
            <!--The body of the box2-->
            <!--</div>-->
            <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
            <!--<div class="box-footer">-->
            <!--The footer of the box-->
            <!--</div>-->
            <!-- box-footer -->
        </div>
        <!-- /.box -->
        <div style="width: 30%; margin: 20px 20px 20px 20px; display: inline-block;">
            <span class = "label label-default">Cash flow</span>
            <hr>
            <span class = "label label-default" id="cash_flow_value"></span><br><br>
            <label for="progressBarIncome">Income</label>
            <div class="progress" style="height: 30px; margin-bottom: 10px; margin-top: 10px;">
                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" id="progressBarIncome"></div>
            </div>
            <label for="progressBarExpense">Expense</label>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="progressBarExpense"></div>
            </div>
        </div>
        <div style="width: 30%; height: 50vh; display: inline-block; vertical-align: top; text-align: center; margin: 20px 20px 20px 20px;">
            <span class = "label label-default">Structure of expenses</span>
            <canvas id="myChart"> </canvas>
        </div>
        <div id="test" style="width: 30%; height: 50vh; display: inline-block; vertical-align: top; text-align: center; margin: 20px 20px 20px 20px;">
            <span class = "label label-default">Trend incomes - last</span>

            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <input type="text" id="daterange" name="daterange" value="choose date">

            </div>
            <canvas id="incomeVsExpenseLineChart"></canvas>
        </div>
    </div>
    <!-- MODAL window  ADD BUDGET -->
    <div class="modal fade text-dark" id="addBudget">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Budget</h5>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Budget Name</label>
                        <input type="text" name="budget_name" id="budget_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="recordDesc">Budget Description</label>
                        <textarea class="form-control" id="budget_desc" name="budget_desc" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="categorySelectBudget">Category</label>
                        <select id="categorySelectBudget" class="form-control">
                            <option selected>Choose...</option>
                            <option value="1">Car</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" step="0.01" name="budget_amount" id="budget_amount" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Starting Date</label>
                        <input type="date" name="from_date" id="from_date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Ending Date</label>
                        <input type="date" name="to_date" id="to_date" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" data-dismiss="modal" onclick="addBudget()">Add Budget</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL window  ADD ACCOUNT -->
    <div class="modal fade text-dark" id="addAccount">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Account</h5>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label>Account Name</label>
                            <input type="text" name="acc_name" id="acc_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="acc_type">Account type</label>
                            <select id="acc_type" class="form-control">
                                <option selected>Choose...</option>
                                <option value="cash">Cash</option>
                                <option value="common">Common</option>
                                <option value="bank">Bank</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="acc_currency">Account type</label>
                            <select id="acc_currency" class="form-control">
                                <option selected>Choose...</option>
                                <option value="bgn">BGN</option>
                                <option value="usd">USD</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Balance</label>
                            <input type="number" step="0.01" name="balance" id="balance" class="form-control">
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" data-dismiss="modal" onclick="addAccount()">Add Budget</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL window  ADD RECORD -->
    <div class="modal fade text-dark" id="addRecord">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Record</h5>
                    <button class="close" data-dismiss="modal" id="close_btn"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label>Record Name</label>
                            <input type="text" name="record_name" id="recordName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="recordDesc">Record Description</label>
                            <textarea class="form-control" id="recordDesc" name="recordDesc" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="number" step="0.01" name="amount" id="amount" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="categorySelect">Category</label>
                            <select id="categorySelect" class="form-control">
                                <option selected>Choose...</option>
                            </select>
                        </div>
                    <div class="form-group">
                        <label for="accSelect">Account</label>
                        <select id="accSelect" class="form-control">
                            <option selected>Choose...</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" data-dismiss="modal" onclick="addRecord()">Add Record</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL window  ADD CATEGORY -->
    <div class="modal fade text-dark" id="addCategory">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Category</h5>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Category Name</label>
                        <input type="text" name="cat_name" id="cat_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="cat_type">Category type</label>
                        <select id="cat_type" class="form-control">
                            <option selected>Choose...</option>
                            <option value="income">Income</option>
                            <option value="expense">Expense</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" data-dismiss="modal" onclick="addCategory()">Add Category</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="view/js/budget.js"></script>
    <script src="view/js/app.js"></script>
    <script src="view/js/categories.js"></script>
    <script src="view/js/recordJS.js"></script>
    <script src="view/js/accountsJS.js"></script>
    <script src="view/js/cashFlowBars.js"></script>
    <script src="view/js/accounts.js"></script>
    <script>
        /* BoxWidget()
        * ======
        * Adds box widget functions to boxes.
        *
        * @Usage: $('.my-box').boxWidget(options)
        *         This plugin auto activates on any element using the `.box` class
        *         Pass any option as data-option="value"
        */
        +function ($) {
            'use strict';

            var DataKey = 'lte.boxwidget';

            var Default = {
                animationSpeed : 500,
                collapseTrigger: '[data-widget="collapse"]',
                removeTrigger  : '[data-widget="remove"]',
                collapseIcon   : 'fa-minus',
                expandIcon     : 'fa-plus',
                removeIcon     : 'fa-times'
            };

            var Selector = {
                data     : '.box',
                collapsed: '.collapsed-box',
                header   : '.box-header',
                body     : '.box-body',
                footer   : '.box-footer',
                tools    : '.box-tools'
            };

            var ClassName = {
                collapsed: 'collapsed-box'
            };

            var Event = {
                collapsing: 'collapsing.boxwidget',
                collapsed: 'collapsed.boxwidget',
                expanding: 'expanding.boxwidget',
                expanded: 'expanded.boxwidget',
                removing: 'removing.boxwidget',
                removed: 'removed.boxwidget'
            };

            // BoxWidget Class Definition
            // =====================
            var BoxWidget = function (element, options) {
                this.element = element;
                this.options = options;

                this._setUpListeners();
            };

            BoxWidget.prototype.toggle = function () {
                var isOpen = !$(this.element).is(Selector.collapsed);

                if (isOpen) {
                    this.collapse();
                } else {
                    this.expand();
                }
            };

            BoxWidget.prototype.expand = function () {
                var expandedEvent = $.Event(Event.expanded);
                var expandingEvent = $.Event(Event.expanding);
                var collapseIcon  = this.options.collapseIcon;
                var expandIcon    = this.options.expandIcon;

                $(this.element).removeClass(ClassName.collapsed);

                $(this.element)
                    .children(Selector.header + ', ' + Selector.body + ', ' + Selector.footer)
                    .children(Selector.tools)
                    .find('.' + expandIcon)
                    .removeClass(expandIcon)
                    .addClass(collapseIcon);

                $(this.element).children(Selector.body + ', ' + Selector.footer)
                    .slideDown(this.options.animationSpeed, function () {
                        $(this.element).trigger(expandedEvent);
                    }.bind(this))
                    .trigger(expandingEvent);
            };

            BoxWidget.prototype.collapse = function () {
                var collapsedEvent = $.Event(Event.collapsed);
                var collapsingEvent = $.Event(Event.collapsing);
                var collapseIcon   = this.options.collapseIcon;
                var expandIcon     = this.options.expandIcon;

                $(this.element)
                    .children(Selector.header + ', ' + Selector.body + ', ' + Selector.footer)
                    .children(Selector.tools)
                    .find('.' + collapseIcon)
                    .removeClass(collapseIcon)
                    .addClass(expandIcon);

                $(this.element).children(Selector.body + ', ' + Selector.footer)
                    .slideUp(this.options.animationSpeed, function () {
                        $(this.element).addClass(ClassName.collapsed);
                        $(this.element).trigger(collapsedEvent);
                    }.bind(this))
                    .trigger(expandingEvent);
            };

            BoxWidget.prototype.remove = function () {
                var removedEvent = $.Event(Event.removed);
                var removingEvent = $.Event(Event.removing);

                $(this.element).slideUp(this.options.animationSpeed, function () {
                    $(this.element).trigger(removedEvent);
                    $(this.element).remove();
                }.bind(this))
                    .trigger(removingEvent);
            };

            // Private

            BoxWidget.prototype._setUpListeners = function () {
                var that = this;

                $(this.element).on('click', this.options.collapseTrigger, function (event) {
                    if (event) event.preventDefault();
                    that.toggle($(this));
                    return false;
                });

                $(this.element).on('click', this.options.removeTrigger, function (event) {
                    if (event) event.preventDefault();
                    that.remove($(this));
                    return false;
                });
            };

            // Plugin Definition
            // =================
            function Plugin(option) {
                return this.each(function () {
                    var $this = $(this);
                    var data  = $this.data(DataKey);

                    if (!data) {
                        var options = $.extend({}, Default, $this.data(), typeof option == 'object' && option);
                        $this.data(DataKey, (data = new BoxWidget($this, options)));
                    }

                    if (typeof option == 'string') {
                        if (typeof data[option] == 'undefined') {
                            throw new Error('No method named ' + option);
                        }
                        data[option]();
                    }
                });
            }

            var old = $.fn.boxWidget;

            $.fn.boxWidget             = Plugin;
            $.fn.boxWidget.Constructor = BoxWidget;

            // No Conflict Mode
            // ================
            $.fn.boxWidget.noConflict = function () {
                $.fn.boxWidget = old;
                return this;
            };

            // BoxWidget Data API
            // ==================
            $(window).on('load', function () {
                $(Selector.data).each(function () {
                    Plugin.call($(this));
                });
            });
        }(jQuery);
    </script>
    <script src="view/js/chart.js"></script>
</body>
</html>