<div style="display: flex">
    <div id="compareDiagram" class="donutChart">
        <span class = "label chart-span">Radar Diagram - Compare Expenses</span>

        <canvas id="radarDiagram"></canvas>
    </div>
    <div class="card bg-info mt-5" style="width: 18rem;">
        <div class="card-header">
            Compare Periods
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">First Compare Period:</li>
            <li class="list-group-item">
                <input type="text" name="daterange1" value="01/01/2018 - 01/15/2018" />
            </li>
            <li class="list-group-item">Second Compare Period:</li>
            <li class="list-group-item">
                <input type="text" name="daterange2" value="01/01/2018 - 01/15/2018" />
            </li>
        </ul>
    </div>
    <div class="card text-white bg-info mt-5 ml-3" style="max-width: 18rem;">
        <div class="card-header">Compare Radar Diagram</div>
        <div class="card-body">
            <h5 class="card-title">Info:</h5>
            <p class="card-text">-This diagram gives you a chance to compare your expenses by period of time
            with interesting and interactive way.</p>
            <p>-By default there is no second compare period.</p>
            <p>-By default the first compare period is for the last 30 days.</p>

        </div>
    </div>
</div>
<script>
    Chart.defaults.scale.ticks.beginAtZero = true;
    var chart  = document.getElementById("radarDiagram");
    var labels = [];
    var data   = [
        {},
        {}
    ];
    $('input[name="daterange1"]').daterangepicker({
        opens: 'left'
    }, function(start, end, label) {
        var start_date = start.format('YYYY-MM-DD');
        var end_date = end.format('YYYY-MM-DD');
        fetch("../index.php?target=record&action=radarDiagramExpenses",{
            method: "POST",
            headers: {'Content-type': 'application/x-www-form-urlencoded'},
            body: "start_date=" + start_date + "&end_date=" + end_date
        })
            .then(function (response) {
                return response.json();
            })

            .then(function (myJson) {
                var current_labels = radarDiagram.data.labels;
                for (var i = 0; i < myJson[0].length; i++){
                    if (!current_labels.includes(myJson[0][i])){
                        radarDiagram.data.labels.push(myJson[0][i]);
                    }
                }
                var newColor = function() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                    var colors      = [];
                    var mainColor   =  "rgb(" + r + "," + g + "," + b + ", 0.3)";
                    var borderColor =  "rgb(" + r + "," + g + "," + b + ")";
                    colors.push(mainColor);
                    colors.push(borderColor);
                    return colors;
                };
                var dataset = {
                    label: 'First Compare Period',
                    backgroundColor: newColor()[0],
                    borderColor: newColor()[1],
                    borderWidth: 2,
                    data: myJson[1]
                };
                radarDiagram.data.datasets[0] = dataset;
                radarDiagram.update();
            })
            .catch(function (e) {
                alert(e.message);
            })
    });

    $('input[name="daterange2"]').daterangepicker({
        opens: 'left'
    }, function(start, end, label) {
        var start_date = start.format('YYYY-MM-DD');
        var end_date = end.format('YYYY-MM-DD');
        fetch("../index.php?target=record&action=radarDiagramExpenses",{
            method: "POST",
            headers: {'Content-type': 'application/x-www-form-urlencoded'},
            body: "start_date=" + start_date + "&end_date=" + end_date
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                var radarDiagram = new Chart(chart,{
                    type: 'radar',
                    data:{
                        labels: labels,
                        datasets: data,
                    }
                });
                console.log(radarDiagram);
                var current_labels = radarDiagram.data.labels;
                for (var i = 0; i < myJson[0].length; i++){
                    if (!current_labels.includes(myJson[0][i])){
                        radarDiagram.data.labels.push(myJson[0][i]);
                    }
                }
                var newColor = function() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                    var colors      = [];
                    var mainColor   =  "rgb(" + r + "," + g + "," + b + ", 0.3)";
                    var borderColor =  "rgb(" + r + "," + g + "," + b + ")";
                    colors.push(mainColor);
                    colors.push(borderColor);
                    return colors;
                };

                var dataset = {
                    label: 'Second Compare Period',
                    backgroundColor: newColor()[0],
                    borderColor: newColor()[1],
                    borderWidth: 2,
                    data: myJson[1]
                };
                radarDiagram.data.datasets[1] = dataset;
                radarDiagram.update();
            })
            .catch(function (e) {
                alert("problema e " + e.message);
            })

    });
</script>