<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <form action="../index.php?target=user&action=userRegistration" method="post" enctype="multipart/form-data"
    role="form" onsubmit="return registerValidation(this);">
    <div class="col-md-6" style="margin: 50px auto">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Register Now</h3>
            </div>
            <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name" id="first_name"
                           placeholder="First Name" required>
                        <div id="firstNameErr"></div>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name" id="last_name"
                           placeholder="Last Name" required>
                        <div id="lastNameErr"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="email"
                           placeholder="Enter email" required>
                        <div id="emailErr"></div>
                    </div>
                    <div class="form-group">
                        <label for="age">Your Age</label>
                        <input type="text" class="form-control" name="age" id="age" placeholder="Your Age" required>
                        <div id="ageErr"></div>
                    </div>
                    <div class="form-group">
                        <label for="password_1">Password</label>
                        <input type="password" class="form-control" id="password_1" name="password_1"
                           placeholder="Password" required>
                        <div id="passErr"></div>
                    </div>
                    <div class="form-group">
                        <label for="password_2">Retype Password</label>
                        <input type="password" class="form-control" id="password_2" name="password_2"
                           placeholder="Retype Password" required>
                        <div id="rePassErr"></div>
                    </div>
                    <div class="form-group">
                        <label for="user_image">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="user_image" id="user_image">
                                <div id="imageErr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary btn-block" name="register" value="Register"></input>
                </div>
            </form>
        </div>
    </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="js/validations.js"></script>
</body>
</html>