<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <form action="../index.php?target=user&action=userRegistration" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>First name:</td>
                <td><input type="text" name="first_name" ></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="text" name="last_name" ></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><input type="email" name="email" ></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="number" name="age" ></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password_1"></td>
            </tr>
            <tr>
                <td>Retype Password:</td>
                <td><input type="password" name="password_2"></td>
            </tr>
            <tr>
                <td>Picture:</td>
                <td><input type="file" name="user_image" id="user_image"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="register" value="Register"></td>
            </tr>
        </table>
    </form>
</body>
</html>